@use '../../assets/styles/media-queries' as media;

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 60px;
        color: var(--red);
    }

    p {
        font-size: 20px;
        color: var(--gray-dark);
        margin: 50px 0;
    }
}

.profile {
    flex: 1;
    margin: 68px 90px;

    .firstname {
        color: var(--red);
    }

    .paragraphe {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 2rem;
    }

    .datas {
        margin-top: 4rem;
        gap: 2rem;

        @include media.xl {
            display: flex;
        }
    }

    .statistics {
        flex: 2;

        @include media.xl {
            margin-right: 2rem;
        }

        .activities {
            width: 100%;
            background-color: var(--gray-light);
            border-radius: 5px;
            padding: 1rem;
        }

        .charts {
            margin-top: 2rem;
            gap: 1rem;

            .average,
            .performance,
            .goals {
                flex: 1;
                aspect-ratio: 1;
                border-radius: 5px;
            }

            .average {
                background-color: var(--red);
            }

            .performance {
                background-color: var(--gray-dark);
            }

            .goals {
                background-color: var(--gray-light);
            }
        }
    }

    .nutrients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;

        @include media.xl {
            margin-top: 0;
            flex: 1;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}