:root {
    --red: #ff0000;
    --blue: #4ab8ff;
    --yellow: #fdcc0c;
    --pink: #fd5181;
    --black: #020203;
    --white: #fff;
    --gray-light: #fbfbfb;
    --gray-dark: #282d30;
    --red-light: #fbeaea;
    --blue-light: #e9f4fb;
    --yellow-light: #faf6e5;
    --pink-light: #fbeaef;
    --box-shadow: 0 4px 4px 0 #00000040;
    --font-family: 'Roboto', sans-serif;
}